doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		title Straight up RGB thing
		meta(content='width=device-width, initial-scale=1', name='viewport')
		link(href='main.css', rel='stylesheet')
	body
		#viewer.viewer
		script(src="ext-core.js")
		script(src="utils.js")
		script(src="PanoJS.js")
		script(src="controls.js")
		script(src="pyramid_imgcnv.js")
		script(src="control_thumbnail.js")
		script(src="control_info.js")
		script(src="control_svg.js")
		script(src="main.js")