doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		title Wavey
		meta(content='width=device-width, initial-scale=1', name='viewport')
		link(href='main.css', rel='stylesheet')
	body
		.container
		script(src="main.js")