html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

.container {
  width: 0px;
  overflow: hidden;
  height: 100%; }

.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.contain {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }

.cover, .covermap {
  position: absolute;
  top: 0;
  left: 0; }

.map {
  z-index: 1; }

.cover {
  z-index: 2; }
