doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		title Here Be dragons
		meta(content='width=device-width, initial-scale=1', name='viewport')
		link(href='main.css', rel='stylesheet')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkHGQkb4pYY4fBgUsIGwTJ6gwhBQZ7u74&sensor=false")
	body
		.container
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="main.js")