doctype html
html.no-js
	head
		meta(charset='utf-8')
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		title Prre Responsibility
		meta(content='width=device-width, initial-scale=1', name='viewport')
		link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cousine:700')
		link(href='main.css', rel='stylesheet')
		script(src='js/vendor/modernizr-2.6.2.min.js')
	body
		h1 You are responsible for the privacy of your peers
		p Privacy has long become quite a hot topic recently. The recent leaks of private celebrity photos have only increased the coverage of privacy in mainstream meadia.
		p But on topic I have seldom seen much written about is the responsibility we all have to our peers in ensuring their privacy. Its a hard topic to get your head around - but an important one seeing as more often than not the breaches of privacy we see are not done thorugh seeminly mystical technical wizardry. But through careful and grotesquly systematic exploitation of human ignorance [ed: too harsh?]. 
		
		