@import "./scss/dist/math";

@keyframes fadein {
	0% {
		opacity: 0;
		z-index: 200;
		transform: scale(2);
	}
	100% {
		opacity: 1;
		z-index: 200;
		transform: scale(1);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
		z-index: 200;
	}
	99% {
		opacity: 0;
		z-index: 200;
	}
	100% {
		opacity: 0;
		z-index: 1;
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(0) scale(.8);
	}
	50% {
		transform: translateX(-50%) scale(1);
	}
	100% {
		transform: translateX(-100%) scale(.8);
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(0) scale(.8);
	}
	50% {
		transform: translateX(50%) scale(1);
	}
	100% {
		transform: translateX(100%) scale(.8);
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

//html {
//	height: 100%;
//}
//
//body {
//	margin: 0;
//	height: 100%;
//	color: #fff;
//	font-family: 'Helvetica', sans-serif;
//	letter-spacing: 1px;
//	position: relative;
//	overflow-x: hidden;
//	line-height: 1.5em;
//}
//
//.loading-pane {
//	top: 0;
//	left: 0;
//	position: absolute;
//	display: flex;
//	flex-direction: column;
//	justify-content: center;
//	align-items: center;
//	z-index: 200;
//	width: 100%;
//	height: 75%;
//	background: black;
//
//	&--title {
//		font-family: 'Cinzel', serif;
//		color: #fff;
//		font-size: 60px;
//		margin-bottom: 20px;
//	}
//
//	&--status {
//		transform: scale(0.5);
//		position: relative;
//		width: 100px;
//		height: 50px;
//
//		background: linear-gradient(
//			to bottom,
//			white 100%,
//			white
//		) no-repeat;
//		background-size: 2px 200px;
//		background-position: center top;
//
//		&:before,
//		&:after {
//			backface-visibility: hidden;
//			content: '';
//			top: 0;
//			width: 50px;
//			height: 50px;
//			position: absolute;
//			transform-origin: center center;
//		}
//
//		&:before {
//			animation: slide-right 1s infinite alternate ease-in-out;
//			left: 0;
//			height: 45px;
//			top: 5px;
//			background: linear-gradient(
//				to bottom,
//				transparent,
//				transparent 5px,
//				white 5px,
//				white
//			);
//			background-size: 100% 10px;
//		}
//		&:after {
//			animation: slide-left 1s infinite alternate ease-in-out;
//			right: 0;
//			background: linear-gradient(
//			  to bottom,
//			  transparent,
//			  transparent 5px,
//			  white 5px,
//			  white
//			);
//			background-size: 100% 10px;
//		}
//	}
//
//
//}
//
//
//.has-loaded {
//	.loading-pane {
//		animation: fadeout 800ms 1 forwards;
//	}
//}
//
//
//.site-header {
//	position: absolute;
//	top: 0;
//	left: 0;
//	height: 75%;
//	width: 100%;
//}
//
//

//
//
//
//
//
//$beta: 60deg;
//$hyp: 300;
//
//.stripes {
//	width: 100%;
//	perspective: 700px;
//	position: absolute;
//	z-index: 2;
//	ul {
//		overflow: hidden;
//		padding: 0;
//		margin: 0;
//		list-style: none;
//	}
//	li {
//		position: relative;
//		float: left;
//		width: 20%;
//		height: 100%;
//		&:before {
//			content: '';
//			position: absolute;
//			top: 0;
//			left: 0;
//			width: 100%;
//			height: 100%;
//		}
//	}
//	&__top {
//		top: 0;
//		height: 75vh;
//		position: relative;
//		li {
//			position: relative;
//			overflow: hidden;
//			background-size: cover;
//			background-position: center center;
//			&:nth-child(1) {
//					background: rgba(#D49F4F, 0.5);
//				}
//				&:nth-child(2) {
//					background: rgba(#7B9071, 0.5);
//				}
//				&:nth-child(3) {
//					background: rgba(#A85F34, 0.5);
//				}
//				&:nth-child(4) {
//					background: rgba(#7D878E, 0.5);
//				}
//				&:nth-child(5) {
//					background: rgba(#393939, 0.5);
//				}
//			&:before {
//					background: linear-gradient(to top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%); /* W3C */
//				}
//		}
//	}
//
//	&__bottom {
//		height: $hyp * 1px;
//		top: 75vh;
//		ul {
//			transform: rotateX(60deg);
//			transform-origin: center top;
//			li {
//				&:nth-child(1) {
//					background: rgba(#D49F4F, 0.5);
//				}
//				&:nth-child(2) {
//					background: rgba(#7B9071, 0.5);
//				}
//				&:nth-child(3) {
//					background: rgba(#A85F34, 0.5);
//				}
//				&:nth-child(4) {
//					background: rgba(#7D878E, 0.5);
//				}
//				&:nth-child(5) {
//					background: rgba(#393939, 0.5);
//				}
//				&:before {
//					background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C */
//				}
//			}
//		}
//	}
//}
//
//$opp: (sin($beta) / $hyp) * 1px;
//$adj: (cos($beta) / $hyp) * 1px;
//
//.page {
//	margin-top: -$opp;
//	transform: translateZ($adj);
//	z-index: 3;
//	padding: 2.6%;
//	overflow: hidden;
//	position: absolute;
//	top: 100vh;
//	perspective: 700px;
//	left: 0;
//	&--main {
//		position: relative;
//		z-index: 2;
//	}
//
//	&:before {
////		transform-origin: center top;
////		transform: rotateX(-60deg);
//		content: '';
//		position: absolute;
//		width: 100%;
//		height: 100%;
//		top: 0;
//		left: 0;
//		z-index: 1;
////		background:
////		linear-gradient(
////			to bottom,
////			rgba(white, 0.3),
////			rgba(white, 0.0) 10%
////		),
////		linear-gradient(
////			to right,
////			rgba(#D49F4F, 0.5) 2.60%,
////			rgba(#7B9071, 0.5) 2.60%, rgba(#7B9071, 0.5) 34.20%,
////			rgba(#A85F34, 0.5) 34.20%, rgba(#A85F34, 0.5) 65.80%,
////			rgba(#7D878E, 0.5) 65.80%, rgba(#7D878E, 0.5) 97.40%,
////			rgba(#393939, 0.5) 97.40%, rgba(#393939, 0.5)
////		);
//		background:
//		linear-gradient(
//			to bottom,
//			rgba(white, 0.3),
//			rgba(white, 0.0) 10%
//		),
//		linear-gradient(
//			to right,
//			rgba(#D49F4F, 0.5) 20%,
//			rgba(#7B9071, 0.5) 20%, rgba(#7B9071, 0.5) 40%,
//			rgba(#A85F34, 0.5) 40%, rgba(#A85F34, 0.5) 60%,
//			rgba(#7D878E, 0.5) 60%, rgba(#7D878E, 0.5) 80%,
//			rgba(#393939, 0.5) 80%, rgba(#393939, 0.5)
//		);
//	}
//
//}
//
//
//.grid {
//	overflow: hidden;
//}
//
//
//.column {
//	padding: 1rem;
//	width: 33.333%;
//	float: left;
//	overflow: hidden;
//}
//
//


@import 'scss/paralax';
@import 'scss/project-list';
@import 'scss/moler';

body {
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
}

h2,
h3 {
	font-family: 'Cinzel', serif;
}

$rotate: 60deg;
$shelfHeight: 300px;

.entry {
	transition: all 500ms linear;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 20;
	transform: translate(-50%, -50%);
	font-family: 'Cinzel', serif;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}

.container {
	perspective: 0px;

	.top {
		position: relative;
		height: calc(100vh - #{$shelfHeight + 100px});
		width: 100vw;
		margin: 0 auto;
	}

	.shelf {
		position: relative;
		transform-origin: top center;
		transform: matrix3d(1.0000000000, 0.0000000000, 0, 0.0000000000, 0.0000000000, 0.5000000000, 0, -0.0016666666, 0, 0, 1, 0, 0.0000000000, -0.0000000000, 0, 1);
		height: $shelfHeight;
		background: linear-gradient(
						to bottom,
						rgba(black, 0.3),
						rgba(white, 0.3)
		),
		linear-gradient(
						to right,
						rgba(#D49F4F, 0.5) 20%,
						rgba(#7B9071, 0.5) 20%, rgba(#7B9071, 0.5) 40%,
						rgba(#A85F34, 0.5) 40%, rgba(#A85F34, 0.5) 60%,
						rgba(#7D878E, 0.5) 60%, rgba(#7D878E, 0.5) 80%,
						rgba(#393939, 0.5) 80%, rgba(#393939, 0.5)
		);
	}

	.bottom {
		width: 200vw;
		margin-left: -50vw;
		background: linear-gradient(
						to bottom,
						rgba(white, 0.3),
						rgba(black, 0.3)
		),
		linear-gradient(
						to right,
						rgba(#D49F4F, 0.5) 20%,
						rgba(#7B9071, 0.5) 20%, rgba(#7B9071, 0.5) 40%,
						rgba(#A85F34, 0.5) 40%, rgba(#A85F34, 0.5) 60%,
						rgba(#7D878E, 0.5) 60%, rgba(#7D878E, 0.5) 80%,
						rgba(#393939, 0.5) 80%, rgba(#393939, 0.5)
		);
	}
}

.page {
	width: 100vw;
	margin: 0 auto;
	overflow: hidden;
}

.page-section-left,
.page-section-middle,
.page-section-right {
	width: 30%;
	float: left;
	padding: 2rem;
}

.page-section-middle {
	width: 40%;
}