@import 'scss/dist/math';
@import 'scss/mixins';

*,
*:before,
*:after {
	box-sizing: border-box;
}


body {
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

h2,
h3 {
	font-family: 'Cinzel', serif;
}

@import 'scss/animations';
@import 'scss/entry';
@import 'scss/paralax';
@import 'scss/project-list';
@import 'scss/moler';
@import 'scss/page';


$rotate: 60deg;
$shelfHeight: 300px;

.container {
	perspective: 0px;

	.top {
		position: relative;
		height: calc(100vh - #{$shelfHeight + 100px});
		width: 100vw;
		margin: 0 auto;
	}

	.shelf {
		position: relative;
		transform-origin: top center;
		transform: matrix3d(1.0000000000, 0.0000000000, 0, 0.0000000000, 0.0000000000, 0.5000000000, 0, -0.0016666666, 0, 0, 1, 0, 0.0000000000, -0.0000000000, 0, 1);
		height: $shelfHeight;
		background: linear-gradient(
						to bottom,
						rgba(black, 0.3),
						rgba(white, 0.3)
		),
		linear-gradient(
						to right,
						rgba(#D49F4F, 0.5) 20%,
						rgba(#7B9071, 0.5) 20%, rgba(#7B9071, 0.5) 40%,
						rgba(#A85F34, 0.5) 40%, rgba(#A85F34, 0.5) 60%,
						rgba(#7D878E, 0.5) 60%, rgba(#7D878E, 0.5) 80%,
						rgba(#393939, 0.5) 80%, rgba(#393939, 0.5)
		);
	}

	.bottom {
		width: 200vw;
		margin-left: -50vw;
		background: linear-gradient(
						to bottom,
						rgba(white, 0.3),
						rgba(black, 0.3)
		),
		linear-gradient(
						to right,
						rgba(#D49F4F, 0.5) 20%,
						rgba(#7B9071, 0.5) 20%, rgba(#7B9071, 0.5) 40%,
						rgba(#A85F34, 0.5) 40%, rgba(#A85F34, 0.5) 60%,
						rgba(#7D878E, 0.5) 60%, rgba(#7D878E, 0.5) 80%,
						rgba(#393939, 0.5) 80%, rgba(#393939, 0.5)
		);
	}
}