extends _layout

mixin project(url, imgurl, title, description)
	li.project-list--item
		a(href=url)
			img.project-list--item-thumb(src=imgurl)
			.project-list--item-meta
				h2=title
				.description!=description

block content
	//include _menu

	a(href="#").entry Jonny Scholes

	.paralax
		.item
			img(src="images/1.png")
		.item
			img(src="images/2.png")
		.item
			img(src="images/3.png")
		.item
			img(src="images/4.png")
		.item
			img(src="images/5.png")
		.item
			img(src="images/6.png")
		.item
			img(src="images/7.png")
		.item
			img(src="images/8.png")
		.item
			img(src="images/9.png")

	.top.stripes
		ul
			li
				canvas
			li
				canvas
			li
				canvas
			li
				canvas
			li
				canvas

	.bottom.stripes
		ul
			li
			li
			li
			li
			li

	.page
		article
			header
				p I'm Jonny, a twenty something year old web developer, painter, photographer, designer and hacker from Hobart, Tasmania.
				p I work for #[a(href='http://takeflight.com.au/') Takeflight] with awesome people in a great local coworking space called #[a(href='http://typewriterfactory.com/') The Typewriter Factory]. Come and say hello!

			.projects
				.project-list
					h3 Projects:
					ul
						+project(
							'http://trapezium.io/',
							'./images/trapezium.jpg',
							'Trapezium - Ongoing',
							'Trapezium is a 	news reader that presents the last 24 hours news (EST) based on how negative or positive the content is. Choose what you read based on how you want to feel!'
						)
						+project(
							'http://altrove.totesprofe.sh/',
							'./images/altrove.jpg',
							'AlTrove - Ongoing',
							'For GovHack 2014 we (#totesprofesh) recreated the homepage for TROVE.'
						)
						+project(
							'http://web.dev42.co/',
							'./images/wd42.jpg',
							'Web Developer 42 - Ongoing',
							'Each month Josh Gillies and I run a meetup where we have local web developers talk about a topic. Beer and pizza is provided and its always a wicked night. Come and play!')
						+project(
							'http://springclean.me/',
							'./images/springclean.jpg',
							'SpringClean.me - Ongoing',
							'As a known privacy/security advocate in my extended social circles, I am often asked "What should I do to stay secure?". I got sick of reeling off the same list over and over so I made an interactive checklist to send people to.'
						)

				.project-list
					h3 Selected Works:
					ul
						+project(
							'/experiments/artscapes/',
							'./images/artscapes.jpg',
							'Artscapes - February 2014',
							''
						)
						+project(
							'/experiments/mapfont/',
							'./images/herebedragons.jpg',
							'Mapfont - February 2014',
							''
						)
						+project(
							'/experiments/wavey/',
							'./images/wavey.jpg',
							'Wavey - August 2014',
							''
						)

				.project-list
					h3 Other stuff:
					ul
						+project(
							'/experiments/rgbto/',
							'./images/rgbto.jpg',
							'RGBto - October 2014',
							'As a frontend developer there are lots of little tools I need from time to time. Character counts, color name generators, unit converters etc. This is a sigle page app thingy I am making to make all of that a single paste away.'
						)

			//
			//h3 Stalk me:
			//ul
			//	li
			//		a(href='http://twitter.com/jonnyscholes') Twitter
			//	li
			//		a(href='http://www.flickr.com/jonnyscholes') Flickr
			//	li
			//		a(href='http://github.com/jonnyscholes') Github
			//
			//
			//footer © 2014 Jonny
