extends _layout
mixin project(url, imgurl, title, description)
	li.project-list--item
		a(href=url)
			img.project-list--item-thumb(src=imgurl)
			.project-list--item-meta
				h3=title
				.description!=description
block content
	.entry Jonny Scholes
	.paralax
		.item
			img(src="images/1.png")
		.item
			img(src="images/2.png")
		.item
			img(src="images/3.png")
		.item
			img(src="images/4.png")
		.item
			img(src="images/5.png")
		.item
			img(src="images/6.png")
		.item
			img(src="images/7.png")
		.item
			img(src="images/8.png")
		.item
			img(src="images/9.png")

	.container
		.top
			ul.moler
				li.moler--single
					canvas
				li.moler--single
					canvas
				li.moler--single
					canvas
				li.moler--single
					canvas
				li.moler--single
					canvas
		.shelf
		.bottom
			.page
				.page-section-left
					h2 Sup.
					p I'm Jonny. A twenty something year old web developer, painter, photographer, designer and hacker from Hobart, Tasmania.
					p I work for #[a(href='http://takeflight.com.au/') Takeflight] with awesome people in a great local coworking space called #[a(href='http://typewriterfactory.com/') The Typewriter Factory]. Come and say hello!
					h3 Stalk me:
					ul
						li
							a(href='http://twitter.com/jonnyscholes') Twitter
						li
							a(href='http://www.flickr.com/jonnyscholes') Flickr
						li
							a(href='http://github.com/jonnyscholes') Github

					p © 2015 Jonny Scholes

				.page-section-middle
					h2 Projects
					.project-list
						+project(
							'http://toolery.me/',
							'./images/toolery.jpg',
							'toolery.me',
							'Everyday I need to make lots of little conversions and calculations when taking designs from Photoshop files to the web. This is a little tool I made to make all of that easier for myself (and perhaps others).'
						)
						+project(
							'http://trapezium.io/',
							'./images/trapezium.jpg',
							'Trapezium',
							'Trapezium is a 	news reader that presents the last 24 hours news (EST) based on how negative or positive the content is. Choose what you read based on how you want to feel!'
						)
						+project(
							'http://altrove.totesprofe.sh/',
							'./images/altrove.jpg',
							'AlTrove',
							'For GovHack 2014 we (#totesprofesh) recreated the homepage for TROVE.'
						)
						+project(
							'http://web.dev42.co/',
							'./images/wd42.jpg',
							'Web Developer 42 - Ongoing',
							'Each month Josh Gillies and I run a meetup where we have local web developers talk about a topic. Beer and pizza is provided and its always a wicked night. Come and play!')
						+project(
							'http://springclean.me/',
							'./images/springclean.jpg',
							'SpringClean.me',
							'As a known privacy/security advocate in my extended social circles, I am often asked "What should I do to stay secure?". I got sick of reeling off the same list over and over so I made an interactive checklist to send people to.'
						)
				.page-section-right
					h2 Selected Works
					.project-list
						+project(
							'/experiments/artscapes/',
							'./images/artscapes.jpg',
							'Artscapes - 2014',
							''
						)
						+project(
							'/experiments/mapfont/',
							'./images/herebedragons.jpg',
							'Mapfont - 2014',
							''
						)
						+project(
							'/experiments/wavey/',
							'./images/wavey.jpg',
							'Wavey - 2014',
							''
						)
