html, body {
  padding: 0;
  margin: 0; }

img {
  display: block;
  width: 100%; }

.container.has-fixed .makefix {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }
.container:nth-child(1) .makefix {
  top: 0px; }
  .container:nth-child(1) .makefix h1 {
    top: 0px; }
.container:nth-child(2) .makefix {
  top: 70px; }
  .container:nth-child(2) .makefix h1 {
    top: -70px; }
.container:nth-child(3) .makefix {
  top: 140px; }
  .container:nth-child(3) .makefix h1 {
    top: -140px; }
.container:nth-child(4) .makefix {
  top: 210px; }
  .container:nth-child(4) .makefix h1 {
    top: -210px; }
.container:nth-child(5) .makefix {
  top: 280px; }
  .container:nth-child(5) .makefix h1 {
    top: -280px; }
.container:nth-child(6) .makefix {
  top: 350px; }
  .container:nth-child(6) .makefix h1 {
    top: -350px; }
.container:nth-child(7) .makefix {
  top: 420px; }
  .container:nth-child(7) .makefix h1 {
    top: -420px; }
.container:nth-child(8) .makefix {
  top: 490px; }
  .container:nth-child(8) .makefix h1 {
    top: -490px; }
.container:nth-child(9) .makefix {
  top: 560px; }
  .container:nth-child(9) .makefix h1 {
    top: -560px; }
.container:nth-child(10) .makefix {
  top: 630px; }
  .container:nth-child(10) .makefix h1 {
    top: -630px; }
.container:nth-child(11) .makefix {
  top: 700px; }
  .container:nth-child(11) .makefix h1 {
    top: -700px; }
.container:nth-child(12) .makefix {
  top: 770px; }
  .container:nth-child(12) .makefix h1 {
    top: -770px; }

.makefix {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
  position: fixed;
  opacity: 0;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  .makefix h1 {
    font-family: "ff-basic-gothic-sc-web-pro";
    font-weight: 100;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    top: 0;
    color: black;
    font-size: 17.5em;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    text-align: center; }
  .makefix .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100%;
    background-position: bottom center; }
